a {
  color: blue;
  font-size: 20px;
  margin: 20px;
}

a:hover {
  color: #1873ba;
  text-decoration: underline;
}

span {
  color: #990055;
}

li {
  list-style-type: none;
}

.btn {
  padding: 8px 20px;
  font-weight: normal;
  margin: 20px 4px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

.btn_green {
  background-color: #00cf3e;
  color: #fff;
}

.btrn_gren:hover {
  background-color: #00cc66;
}

h1 {
  margin: 20px;
}

h3 {
  margin: 20px;
}

.img-content {
  display: block;
  margin: 20px;
}

.text-content {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}
